[Desktop Entry]
Name=Learnet
Comment=flashcards, user-first flashcards app
Exec=learnet-desktop
Terminal=false
Type=Application
Icon=app.learnet.LearnetDesktop
Categories=Network;InstantMessaging
StartupWMClass=learnet-desktop
X-Desktop-File-Install-Version=0.26
X-Flatpak=app.learnet.LearnetDesktop
